/*************** header ************/

header {
    font-size: 15px;
    text-align: right;
    color: grey;
}

.pic {
    width: 20px;
    border-radius: 50%;
    
}

header span{
    padding: 10px;
}
/*********** body ***********/

body{
    margin: 0;
}
/* search bar */
.marginsize {
    height: 30px;
    width: 500px;
    box-shadow: 5px 5px 5px #888888;
    margin: 0;
    border: 0;
}
.marginsize :active{
border-color: #888888;
}

.centre {
    text-align: center;
}

/* google image */
.fu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 470px;
    
}

/* buttons */
.button1{
    border: 0;
    width: 200px;
    height: 30px;
    background-color: antiquewhite;
    padding: 20px;
    padding-bottom: 30px;
}
button:hover {
    box-shadow: 1px 1px 1px 1px #888888;
}

.last{
    padding-top: 10px;
}

/* google offering lang */
.sense {
    text-align: center;
}

.size {
    font-size: 12px;
    padding-top:40px;
    padding-bottom: 30px;
    
}

/*********** footer **********/

.same-line {
    height: 10px; 
    position: relative;
}
.same-line div{
    display: inline-block;
    position: absolute;
}
.on-the-left{
 left:0px;
}
.on-the-center{
    left: 0%;
    right: 0%;
    text-align: center;
}
.on-the-right{
   right: 0px;
}

.yo{
    background-color:rgb(201, 199, 199);
}
footer{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    background-color:rgb(201, 199, 199);
}
.padding
{
    padding: 30px;
}

